a { color:inherit; text-decoration:none; }

div.BibleText { }

span.upLink { font-size:1.5em; font-weight:bold; }
span.c { font-size:1.1em; color:green; }
span.cPsa { font-size:1.6em; font-weight:bold; color:green; }
span.v { vertical-align:super; font-size:0.5em; color:red; }
span.addArticle { color:grey; }
span.unusedArticle { color:lavender; }
span.addCopula { color:pink; }
span.addDirectObject { color:brown; }
span.addExtra { color:lightGreen; }
span.addOwner { color:darkOrchid; }
span.add { color:bisque; }
span.ul { color:darkGrey; }
span.dom { color:Gainsboro; }
span.schwa { font-size:0.75em; }
span.nominaSacra { font-weight:bold; }
span.nd { font-weight:bold; }
span.untr { background-color:ivory; color:yellowGreen; font-variant-position:sub; }

p.rem { font-size:0.8em; color:grey; }
p.shortPrayer { text-align:center; }
p.mt1 { font-size:1.8em; }
p.mt2 { font-size:1.3em; }
p.LVsentence { margin-top:0.2em; margin-bottom:0.2em; }
