# This is a sample TOML control file for the ScriptedBibleEditor
#
# Last updated: 2023-03-09 by RJH
#
# Available commands are:
#
#   title = "My Control File Title"
#   description = "A longer description"
#
#   [commandTables]
#   tableName = "filepath"
#

title = "ScriptedBibleEditor OET-LV-NT Control File"
description = "To convert ESFM files to create the draft OET-LV-NT"

inputFolder = "../../intermediateTexts/modified_source_VLT_ESFM/"
inputFilenameTemplate = "BBB_gloss.ESFM"

outputFolder = "../../intermediateTexts/auto_edited_VLT_ESFM/"
outputFilenameTemplate = "OET-LV_BBB.ESFM"
clearOutputFolder = true # Removes the folder and recreates it if createOutputFolder is true (else deletes all files in the folder)
createOutputFolder = true

handleESFMWordNumbers = true

applyOrder = "AllTablesFirst"

# Command tables are applied in the given order
[commandTables]
wordingAdjustments = "wordingAdjustments.commandTable.tsv"
adjustCapitalisation = "adjustCapitalisation.commandTable.tsv"
adjustPunctuation = "adjustPunctuation.commandTable.tsv"
changeFromUSSpelling = "changeFromUSSpelling.commandTable.tsv"
restoreOTNames = "OTNames.commandTable.tsv"
restoreNTNames = "NTNames.commandTable.tsv"
fixGlossPre = "fixGlossPre.commandTable.tsv"
fixGlossHelpers = "fixGlossHelpers.commandTable.tsv"
#fixGlossWords = "fixGlossWords.commandTable.tsv"
fixGlossPost = "fixGlossPost.commandTable.tsv"
cleanupVLT = "cleanupVLT.commandTable.tsv"
finalFixes = "finalFixes.commandTable.tsv"